<!-- <h1>my display{{message}}</h1> -->
{% extends 'base.html'%} {% block content %} {% block styles%} {{ super() }}
<head>
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
<br>
<br>
<br>
</head>
<body>

  <div class="main">
    <div class="container-fluid">
     <style>
       .col-3{
         background-color: whitesmoke;
       
       }
       .col-3 img{
         height: 250px;
         width: 300px;
       }
       /* .card-columns{
         display: flex;
         flex: 200px;

       } */
       .card-body{
        height: 150px;
         width: 100%;
       }
       .card-footer{
         margin: 10px;
       }
     </style>
        
        <div class="col-3">
          <h3 align="center"> HEADLINE NEWS </h3>
          <div class="container">
            <div class="card-columns">
              {% for headlines in headlines %}

              <div class="card">
                <img class="card" src="{{headlines.image}}" alt="Card image cap" size="100px 180px">
                <div class="card-body">
                  <h5 class="card-title">{{headlines.author}}</h5>
                  <p class="card-text">{{headlines.description}}</p>
                  <a href="{{headlines.url}}">
                    <p class="card-text">Click here for more details!</p>
                  </a>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Publish date:{{headlines.time}}</small>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

    </div>
  </div>

</body>

{% endblock %}
